version: '2.4'
services:
  mysql:
    restart: 'no'
    container_name: hungknow-mysql
    ports:
      - "3306:3306"
    extends:
        file: build/docker-compose.common.yml
        service: mysql
  postgres:
    restart: 'no'
    container_name: hungknow-postgres
    ports:
      - "7432:5432"
    extends:
        file: build/docker-compose.common.yml
        service: postgres
  minio:
    restart: 'no'
    container_name: hungknow-minio
    ports:
      - "9000:9000"
    extends:
        file: build/docker-compose.common.yml
        service: minio
  inbucket:
    restart: 'no'
    container_name: hungknow-inbucket
    ports:
      - "10025:10025"
      - "10080:10080"
      - "10110:10110"
    extends:
        file: build/docker-compose.common.yml
        service: inbucket
  openldap:
    restart: 'no'
    container_name: hungknow-openldap
    ports:
      - "389:389"
      - "636:636"
    extends:
        file: build/docker-compose.common.yml
        service: openldap
  elasticsearch:
    restart: 'no'
    container_name: hungknow-elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
    extends:
        file: build/docker-compose.common.yml
        service: elasticsearch
  dejavu:
    restart: 'no'
    container_name: hungknow-dejavu
    ports:
      - "1358:1358"
    extends:
        file: build/docker-compose.common.yml
        service: dejavu
  keycloak:
    restart: 'no'
    container_name: hungknow-saml
    ports:
      - "8484:8080"
    extends:
        file: build/docker-compose.common.yml
        service: keycloak
  start_dependencies:
    command: mysql:3306 postgres:5432 inbucket:10080 minio:9000
    image: mattermost/mattermost-wait-for-dep:latest
    networks:
      - hk-test
    depends_on:
      - mysql
      - postgres
      - inbucket
      - minio

networks:
  hk-test:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.254.0/24
          ip_range: 192.168.254.0/24
